[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal
Comment=Command line
Exec=foot
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;Utility;
StartupNotify=true
Keywords=shell;prompt;command;console;
